.invoice{
    font-family: 'Reem kufi';
    }
.main{
    width: 60%;
}
.description{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.issued{
    text-align: right;
}
p{
    margin: 0;
    font-size: 1.2rem;

}
.bold{
  font-weight: 600;
}