.invoice{
    position: relative;
    font-family: 'Reem kufi';
    margin-top: 40px;
    padding: 40px;
 }
#main-head{
    margin-top: 6px;
    margin-left: -60px;
    font-size: 2.1rem;
    font-weight: bold;
    padding-top: 100px;
}
.invoice h1{
    color: #42414194;
}
.logo{
    margin-left: -25px;
}
.pad{
   position: absolute;
   top: 253px;
right: 43px;
}
.main{
    width: 60%;
}
.description{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.issued{
    text-align: right;
}
p{
    margin: 0;
    font-size: 1.5rem;

}
.bold{
  font-weight: 600;
}